//variables colores
$fondoClaro: #F4F4F4;
$elementosClaros: #FCFCFC;
$fondoOscuro: #121315;
$elementosOscuros: #191D20;

$verde: #31AB5F;
$amarillo: #F3A33B;
$rojo: #EB4A1A;
$violeta: #BB7DDE;
$gris: #4D5358;

//medidas
$redondeoExterno: 20px;
$redondeoInterno: 10px;

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $fondoClaro;
}

nav{
    position: sticky;
    top: 0;
    margin-top: 0.2rem;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div{
        background-color: $elementosClaros;
        height: 100%;
        width: 50%;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 0 $redondeoExterno $redondeoExterno;

        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5rem;

            .switch-container {
                position: relative;
                width: 30px;
                height: 34px;
            }
            
            .switch-input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            
            .switch-label {
                position: absolute;
                cursor: pointer;
                background-color: $amarillo;
                border-radius: 34px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: background-color 0.3s ease;
            }
            
            .switch-label:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                border-radius: 50%;
                transition: transform 0.3s ease;
            }
            
            .switch-input:checked+.switch-label {
                background-color: $fondoOscuro;
                /* Cambiar a tu color oscuro */
            }
            
            .switch-input:checked+.switch-label:before {
                transform: translateX(26px);
            }
        }
    }
}

header{
    // padding-top: 10vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        font-size: 2rem;
    }
    h1{
        font-size: 15rem;
    }
}

section{
    margin: 0 3rem;
}

.sectionFunction{
    display: grid;
    grid-template-columns: 60% 40%;

    ol{
        margin: 1rem 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-align: justify;
    }

    img{
        // height: 100%;
        width: 100%;
    }
}

.sectionWorks{
    text-align: center;
}